body {
    font-family: Arial, sans-serif;
    background-color: #fff8e1;
    padding: 20px;
    margin: 10px;
    
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

h2 {
    text-align: center;
    color: #d4a017;
}